.container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  flex-basis: 8%;
  border: 1px solid black;
}
button {
  padding: 10px;
}
.display {
  flex-basis: 31.8%;
}
 h3 {
   padding: 0;
   margin: 0;
 }
